### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
players_df = purchase_df.groupby(["SN"])
total_players = len(players_df)
player_count_summary = pd.DataFrame({"Total Players":total_players},index=[0])
player_count_summary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
items_df = purchase_df.groupby(["Item ID","Item Name"])
unique_items = len(items_df)
average_price = purchase_df["Price"].mean()
total_purchases = len(purchase_df)
total_revenue = purchase_df["Price"].sum()
pd.options.display.float_format = '${:,.2f}'.format
purchasing_analysis_summary = pd.DataFrame({"Number of Unique Items":unique_items,
                                    "Average Price":average_price,
                                    "Number of Purchases":total_purchases,
                                   "Total Revenue":total_revenue},index=[0])
purchasing_analysis_summary = purchasing_analysis_summary[["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]]
purchasing_analysis_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_players_df = purchase_df.drop_duplicates(subset="SN", keep='first')
gender_counts = unique_players_df["Gender"].value_counts()
player_percentage = (gender_counts / total_players)*100
gender_counts_df = pd.DataFrame(gender_counts)
gender_counts_df["Percentage of Players"] = player_percentage.values
gender_counts_df = gender_counts_df.rename(columns={"Gender": "Total Count"})
gender_counts_df = gender_counts_df[["Total Count","Percentage of Players" ]]
pd.options.display.float_format = '{:,.2f}'.format
gender_counts_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_counts = purchase_df["Gender"].value_counts()
gender_counts_df = pd.DataFrame(gender_counts)
gender_counts_df = gender_counts_df.rename(columns={"Gender": "Purchase Count"})
gender_average_price = purchase_df.groupby("Gender").mean()
gender_average_price = gender_average_price[["Price"]]
gender_counts_df["Average Purchase Price"]= gender_average_price
gender_total_purchase = purchase_df.groupby("Gender").sum()
gender_total_purchase = gender_total_purchase[["Price"]]
gender_counts_df["Total Purchase Value"]= gender_total_purchase
gender_counts_df
avg_total_purchase_per_person =gender_counts_df["Total Purchase Value"]/unique_players_df["Gender"].value_counts()
gender_counts_df["Avg Total Purchase per Person"]= avg_total_purchase_per_person
gender_counts_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,"1,967.64",4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
unique_players_df["Age Group"] = pd.cut(unique_players_df.loc[:,"Age"], bins, labels=group_names)
age_group = unique_players_df.groupby("Age Group").count()
age_group = age_group[["Age"]]
age_group = age_group.rename(columns={"Age": "Total Count"})
age_group["Percentage of Players"] = age_group["Total Count"] / total_players * 100
pd.options.display.float_format = '{:,.2f}'.format
age_group

C:\Users\sinan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_names)
age_counts_df = purchase_df.groupby("Age Group").count()
age_counts_df = age_counts_df[["Age"]]
age_counts_df = age_counts_df.rename(columns={"Age": "Purchase Count"})
age_average_price = purchase_df.groupby("Age Group").mean()
age_average_price = age_average_price[["Price"]]
age_counts_df["Average Purchase Price"]= age_average_price
age_counts_df
age_total_purchase = purchase_df.groupby("Age Group").sum()
age_total_purchase = age_total_purchase[["Price"]]
age_counts_df["Total Purchase Value"]= age_total_purchase
age_counts_df

unique_players_df["Age Group"] = pd.cut(unique_players_df["Age"], bins, labels=group_names)
age_unique_players = unique_players_df["Age Group"].value_counts()
age_unique_players_df = pd.DataFrame(age_unique_players)
avg_total_purchase_per_person =age_counts_df["Total Purchase Value"]/age_unique_players_df["Age Group"]
age_counts_df["Avg Total Purchase per Person"]= avg_total_purchase_per_person
pd.options.display.float_format = '${:,.2f}'.format
age_counts_df

C:\Users\sinan\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
user_total = purchase_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})
user_data

user_data.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                  $18.96                   $3.79               5
Idastidru52                $15.45                   $3.86               4
Chamjask73                 $13.83                   $4.61               3
Iral74                     $13.62                   $3.40               4
Iskadarya95                $13.10                   $4.37               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items_purchase_count_df = purchase_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                   "Item Price":items_average_price_df,
                                   "Total Purchase Value":items_value_total_df,})

most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80